<div class="container-quiz">
    <div class="quiz-title center-elements">
      <hr />
      <h1>PEPITO QUIZ</h1>
      <h3>{{ title }}</h3>
      <hr />
    </div>
    <div *ngIf="!isQuizFinished" class="quiz-question center-elements">
      <h3>{{ selectedQuestion.question }}</h3>
    </div>
    <div *ngIf="!isQuizFinished" class="quiz-options center-elements">
      <button 
      *ngFor="let option of selectedQuestion.options; let i = index"
      (click)="chooseOption(option.alias)"
      class="btn-option">
          {{ option.name }}
      </button>
    </div>
    <div *ngIf="isQuizFinished" class="quiz-result center-elements">
      <h1>Resultado:</h1>
      <h1>{{ result }}</h1>
    </div>
  </div>
  