<div class="container-quiz">
    <div class="quiz-title center-elements">
      <hr />
      <h1>PEPITO QUIZ</h1>
      <h3>Title</h3>
      <hr />
    </div>
    <div class="quiz-question center-elements">
      <h3>Selected question</h3>
    </div>
    <div class="quiz-options center-elements">
      <button class="btn-option">
          Option name
      </button>
    </div>
    <div class="quiz-result center-elements">
      <h1>Your result is:</h1>
      <p>Answer</p>
    </div>
  </div>
  