.quiz-title {
    
    h1 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 135px;
        display: flex;
        justify-content: center;
    }

    hr {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}